In [2]:
import pandas as pd
import numpy as np

In [3]:
details = pd.read_csv("Appointment Details.csv")
times = pd.read_csv("Appointment Times.csv")
print (times.head())

              UID  Epion Office ID Appointment Date  Patient ID  \
0   4216512595999              999          6/10/15       12595
1    421656140999              999          6/10/15        6140
2   4216512150999              999          6/10/15       12150
3   4216520669275               75          6/10/15      206692
4  42165203956999              999          6/10/15      203956

  Check In Start Time Check In Stop Time Intake By Intake Start Time  \
0             7:51:49            7:52:00       NaN               NaN
1             7:52:28            7:52:34       NaN               NaN
2             8:18:24            8:18:41       NaN               NaN
3             8:25:43            8:38:16  dserrand           8:38:31
4            12:50:08           12:50:44       NaN               NaN

  Intake Stop Time       Exam By Exam Start Time Exam Stop Time Check Out By  \
0              NaN           NaN             NaN            NaN   cmcmillan3
1              NaN           NaN             NaN            NaN   cmcmillan3
2              NaN           NaN             NaN            NaN   cmcmillan3
3          8:43:20  dkelmanovich         8:43:35        9:05:10    dquintana
4              NaN           NaN             NaN            NaN    lfenwick1

  Check Out Start Time Check Out Stop Time
0              7:52:16             7:52:22
1              7:52:46             7:52:49
2              8:18:50             8:18:55
3              9:07:52             9:07:55
4             14:20:22            14:20:28

In [4]:
times["Check Out Stop Time"] = pd.to_timedelta(times["Check Out Stop Time"])
times["Check In Start Time"] = pd.to_timedelta(times["Check In Start Time"])

In [5]:
print (type(times["Check Out Stop Time"][1]))
print (type(times["Check In Start Time"][1]))

<class 'pandas._libs.tslibs.timedeltas.Timedelta'>
<class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [6]:
x = (times["Check Out Stop Time"][1]) - (times["Check In Start Time"][1])
print x

0 days 00:00:21

In [7]:
times["TT"] = (times["Check Out Stop Time"]) - (times["Check In Start Time"])

In [8]:
print times.head()

              UID  Epion Office ID Appointment Date  Patient ID  \
0   4216512595999              999          6/10/15       12595
1    421656140999              999          6/10/15        6140
2   4216512150999              999          6/10/15       12150
3   4216520669275               75          6/10/15      206692
4  42165203956999              999          6/10/15      203956

  Check In Start Time Check In Stop Time Intake By Intake Start Time  \
0            07:51:49            7:52:00       NaN               NaN
1            07:52:28            7:52:34       NaN               NaN
2            08:18:24            8:18:41       NaN               NaN
3            08:25:43            8:38:16  dserrand           8:38:31
4            12:50:08           12:50:44       NaN               NaN

  Intake Stop Time       Exam By Exam Start Time Exam Stop Time Check Out By  \
0              NaN           NaN             NaN            NaN   cmcmillan3
1              NaN           NaN             NaN            NaN   cmcmillan3
2              NaN           NaN             NaN            NaN   cmcmillan3
3          8:43:20  dkelmanovich         8:43:35        9:05:10    dquintana
4              NaN           NaN             NaN            NaN    lfenwick1

  Check Out Start Time Check Out Stop Time       TT
0              7:52:16            07:52:22 00:00:33
1              7:52:46            07:52:49 00:00:21
2              8:18:50            08:18:55 00:00:31
3              9:07:52            09:07:55 00:42:12
4             14:20:22            14:20:28 01:30:20

In [9]:
df = pd.merge(details, times, on = "UID", how = "left")
print (df.head())

              UID               Department  Epion Office ID_x  \
0   4216512595999  Physical Therapy Office                999
1    421656140999  Physical Therapy Office                999
2   4216512150999  Physical Therapy Office                999
3   4216520669275          Fishkill Office                 75
4  42165203956999  Physical Therapy Office                999

             Provider Appointment Date_x            Appointment Type  \
0      Fenwick_Lauren            6/10/15  Physical Therapy/Follow Up
1      Fenwick_Lauren            6/10/15  Physical Therapy/Follow Up
2      Fenwick_Lauren            6/10/15  Physical Therapy/Follow Up
3  Kelmanovich_Daniel            6/10/15              New Patient 15
4      Fenwick_Lauren            6/10/15  Physical Therapy/Follow Up

   Appointment ID  Patient ID_x Patient Date of Registration  \
0          242201         12595                      6/28/93
1           83460          6140                      2/29/08
2           83462         12150                      3/19/12
3          235081        206692                       6/5/15
4           83463        203956                       2/5/15

   Primary Claim Ins Grp   ...    Intake By Intake Start Time  \
0                    NaN   ...          NaN               NaN
1                    NaN   ...          NaN               NaN
2                    NaN   ...          NaN               NaN
3                    NaN   ...     dserrand           8:38:31
4                    NaN   ...          NaN               NaN

  Intake Stop Time       Exam By Exam Start Time  Exam Stop Time Check Out By  \
0              NaN           NaN             NaN             NaN   cmcmillan3
1              NaN           NaN             NaN             NaN   cmcmillan3
2              NaN           NaN             NaN             NaN   cmcmillan3
3          8:43:20  dkelmanovich         8:43:35         9:05:10    dquintana
4              NaN           NaN             NaN             NaN    lfenwick1

  Check Out Start Time Check Out Stop Time       TT
0              7:52:16            07:52:22 00:00:33
1              7:52:46            07:52:49 00:00:21
2              8:18:50            08:18:55 00:00:31
3              9:07:52            09:07:55 00:42:12
4             14:20:22            14:20:28 01:30:20

[5 rows x 28 columns]

In [10]:
print (df["Checked In By"].value_counts())

API-81           13616
API-13            5276
API-27            2741
cmoore79          1469
jrivera64          501
anoriega           263
mpanarese          202
ksherwood          140
mmoreno33          138
sconklin5          125
dmorris40          117
jsantarelli         78
sbseiso             78
ATHENA              59
dserrand            52
cmcmillan3          49
godar               40
mkaiser6            33
dquintana           30
afino               27
ddelbello1          27
rnicole1            24
cquintana6          21
dzelazny            18
jmclean8            16
ccatapano           14
jbauer17            10
mborrero             8
skyle6               7
lfenwick1            6
jlavacca             5
jgaleno              4
mbrowne              3
mmccabe9             2
cschubert3           2
jvirgo               2
dcirillo             2
lamorosa             1
kfitzpatrick9        1
spennington6         1
cwyman3              1
jbiddle1             1
cordosgoitia         1
alazzarini           1
Name: Checked In By, dtype: int64

In [16]:
df["Appointment Date_x"] = df["Appointment Date_x"].dt.date.format(mm/dd/yyyy)

AttributeError: Can only use .dt accessor with datetimelike values

In [15]:
print ((df["Appointment Date_x"][2]))

6/10/15

In [ ]:
df[df["Check In By"] == "API-13"].count()